opencv-python-headless
#dlib==19.24.2
#altair
#streamlit
streamlit-option-menu 
streamlit_lottie
joblib
matplotlib
mtcnn
#numpy
 
scikit-learn==1.0.2
#tensorflow
tensorflow-cpu
#cmake
#dlib
dlib-bin
av
streamlit_webrtc
#win10toast 
#streamlit-extras
